.sidebar {
    position: fixed;
    top:0;left: 0;
    width: 240px;
    height: 100vh;
    background: beige;
    
}
    .topbar{
    padding-left: 280px;
}
    .search{
        position:fixed;
        right:0;
        padding-right: 1%;
    }