.sidebar {
    position: fixed;
    top:0;left: 0;
    width: 240px;
    height: 100vh;
    background: beige;
    
}
    .topbar{
    padding-left: 280px;
    background-color: aquamarine;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -46px;
    margin-right: -10px;
    font-size: 25px;
}
    .search{
        position:fixed;
        right:0;
        padding-right: 1%;
    }

    body{
        background-color: antiquewhite;
    }

    .sidebar nav a {
    display: block;
    padding: 5px;
    border-radius: 8px;
    margin: 2px 9px;
    color: #7a6e58;
    transition: background 0.15s, color 0.15s;
}

.sidebar nav a:hover {
    background: #232018;
    color: #c8900a;
}
